* {
  margin: 0;
  padding: 0;
  font-family: roboto; }

.movie {
  height: 450px;
  margin: 15px; }

.background {
  background-size: cover;
  height: 450px;
  width: 300px; }

.description {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  opacity: 0.7;
  padding: 25px;
  position: relative;
  top: -450px;
  visibility: hidden;
  width: 250px; }

.favorite-icon {
  width: 40px;
  height: 40px; }

.full:hover .background {
  filter: blur(5px); }

.full:hover .description {
  visibility: visible; }
