input {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  display: block;
  margin: 15px auto;
}

.submit-button {
  padding: 10px;
  width: 322px;
  font-size: 1rem;
  border-radius: 0;
  margin-bottom: 15px;
}

.submit-button hover {
  border: none;
}

form {
  margin: auto;
  width: 350px;
  height: 300px;
  padding: 40px;
  background-color: black;
  opacity: 0.75;
  position: relative;
  top: 50px;
}

p{
  color: white;
}

.login-error {
  color: red;
  font-size: .75em;
  padding: 0 0 10px;
}

.acct-create {
  color: red;
  font-size: .75em;
  padding: 0 0 10px;
}